/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
/* Mixins */
.border {
  border: 3px solid red;
}
.list-border {
  border: 1px solid #cfcdcd;
}
.list-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 7rem;
  padding-left: 1rem;
}
.spacing {
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
/* Styles */
nav {
  display: flex;
  width: 69.7%;
  font-size: 1.8rem;
  padding-top: 5rem;
  padding-bottom: 4rem;
  justify-content: flex-end;
  margin-left: 34rem;
}
nav a {
  text-decoration: none;
  color: black;
  padding-right: 1rem;
  font-size: 2rem;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 29rem;
}
.container .container-contents {
  width: 100%;
  background-color: #f7f3f3;
  justify-content: center;
  padding-left: 4rem;
}
.profile-pic {
  padding-top: 6rem;
  padding-left: -2;
  padding-bottom: 1rem;
  width: 357px;
}
@media (max-width: 800px) {
  .profile-pic {
    height: 20rem;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
  }
}
h1 {
  font-size: 4rem;
  padding: 2rem 0 1rem 0rem;
}
.intro-tagline {
  padding: 1rem 0 3rem 0;
  border-bottom: 1px solid gray;
  width: 90%;
  font-size: 2.5rem;
}
.contents-2 {
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.contents-2 .contents-2-blurb {
  font-size: 2rem;
  padding-bottom: 3rem;
}
button {
  font-size: 2rem;
  background-color: gray;
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  border: 0.5rem silver;
  margin-bottom: 6rem;
}
.middle-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5rem;
  margin-left: 7rem;
  background-color: white;
}
.contents-3 {
  width: 40%;
  background-color: white;
  margin-left: -14.5rem;
}
.contents-3 .contents-3-blurb {
  background-color: white;
  font-size: 2rem;
  padding-top: 1rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.contents-4 {
  font-size: 2rem;
  padding-left: 2rem;
  width: 50%;
}
ul {
  margin-top: -1rem;
  font-size: 1.7rem;
}
ul .list-1 {
  border: 1px solid #cfcdcd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 7rem;
  padding-left: 1rem;
}
ul .list-2 {
  border: 1px solid #cfcdcd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 7rem;
  padding-left: 1rem;
}
ul .list-3 {
  border: 1px solid #cfcdcd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 7rem;
  padding-left: 1rem;
}
ul .list-4 {
  border: 1px solid #cfcdcd;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 7rem;
  padding-left: 1rem;
}
.work-title {
  margin-top: 4rem;
}
.span1 {
  font-size: 2rem;
  font-weight: bolder;
}
.span1 .c-span {
  padding-left: 6rem;
}
footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  border: 3px solid red;
}
